@import "mixin";

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: $minWidth;
}
body {
  line-height: 1;
  //text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-size: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background-color: inherit;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

//-webkit-overflow-scrolling: touch;
/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  font-family: "Space Grotesk", serif;
  font-size: 16px;
  color: #172554;
  line-height: normal;
  font-weight: 400;
  margin: 0;
  background-color: #fcfdff;
  &::-webkit-scrollbar {
    background: transparent;
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #979797;
    border-radius: 100px;
  }
  &.no-scroll {
    /* overflow: hidden;
		padding-right: 10px;

		@media(max-width: 767px) { 
			overflow: auto;
			padding-right: 0;
		} */
  }
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 16px;
}

.container {
  max-width: 100%;
  padding: 0 64px;
  @media (max-width: 1650px) {
    padding: 0 16px;
  }
}

.site {
  position: relative;
  /* overflow: hidden; */
}

.request-popup-wrap {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  min-height: 100%;
  opacity: 0;
  pointer-events: none;
  background: #000000b2;
  backdrop-filter: blur(15px);
  &.opened {
    opacity: 1;
    pointer-events: all;
    transition: all 0.5s;
    .popup-inner {
      transform: translate(-50%, -50%) scale(1);
      transition: all 0.5s;
    }
  }
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    min-height: 100%;
  }

  .popup-inner {
    transition: all 0.5s;
    max-width: 1170px;
    width: 100%;
    padding: 0 16px;
    border-radius: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
    max-height: 95vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &:-webkit-scrollbar {
      display: none;
    }

    &._hide { 
      .join-popup { 
        background-color: transparent;
        padding: 0;

        .join-popup__close {
          display: none;
        }
      }
    }
  }
}

.order-popup {
  width: 100%;
  background: #f5f5f5;
  position: relative;

  @media (max-width: 992px) {
    overflow: auto;
  }

  &__content {
    padding: 40px 80px;
    @media (max-width: 992px) {
      padding: 80px 24px 40px 24px;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__title {
    @include adaptiv-value("font-size", 36, 28, 1);
    line-height: normal;
    color: #0f0f0f;
    font-weight: 500;
    font-family: "Urbanist", sans-serif;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 19px;
    font-family: "Urbanist", sans-serif;
  }

  &__close {
    position: absolute;
    top: 40px;
    right: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #6d6d6d4d;
    border-radius: 8px;
    background-color: transparent;
    transition: all 0.3s ease 0s;

    svg {
      path {
        transition: all 0.3s ease 0s;
      }
    }

    &:hover {
      background-color: #315149;
      svg {
        path {
          stroke: #fff;
        }
      }
    }

    @media (max-width: 992px) {
      top: 24px;
      right: 24px;
    }
  }

  &__form {
    margin: 24px 0 0 0;

    .request-form {
      .wrapper {
        .success-message {
          background-color: #fff;
          font-family: "Urbanist", sans-serif;
          span {
            margin-right: 5px;
            display: inline-block;
          }
        }
      }
    }
  }

  &__image {
    width: 100%;
    height: 104px;
    object-fit: cover;
  }
}

.request-form {
  .wrapper {
    .form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      position: relative;
      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
      }
      .row {
        border: 1px solid #172554;
        border-radius: 100px;
        padding: 8px 16px 0 16px;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 56px;

        .label {
          position: absolute;
          top: 8px;
          left: 16px;
          color: var(--colors-blue-950, #172554);
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          /* z-index: 30; */
        }

        input {
          margin: auto 0 8px 0;
        }
        &._policy {
          grid-column-start: span 2;
          border: none;
          padding: 0;
          height: fit-content;
          border-radius: 0;

          .checkbox-label {
            cursor: pointer;
            position: relative;
            padding: 0 0 0 40px;
            display: flex;
            color: var(--colors-blue-950, #172554);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            a {
              color: #172554;
              transition: all 0.3s ease 0s;
              &:hover {
                color: #2563eb;
                text-decoration: underline;
              }
            }
            input {
              opacity: 0;
              visibility: hidden;
              position: absolute;
              z-index: -1;
            }
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 24px;
              height: 24px;
              border-radius: 100px;
              border: 1px solid #172554;
              background-color: transparent;
              transition: all 0.3s ease 0s;
            }

            &._active {
              &::before {
                background-color: #172554;
              }
            }
          }

          &.invalid {
            .checkbox-label {
              &::before {
                border-color: #ff0000;
              }
            }
          }
        }

        &._phone {
          .react-tel-input {
            margin: auto 0 8px 0;
            height: 24px;
            display: flex;
            align-items: center;

            .form-control {
              height: fit-content;
              line-height: normal;
              border: none;
            }

            .flag-dropdown {
              background-color: transparent;
              border: none;
              padding: 0;
            }
          }
        }

        &._select {
          .wrapper-select {
            margin: auto 0 8px 0;
            .react-select__control {
              border: none;
              display: flex;
              align-items: center;
              min-height: fit-content;
              box-shadow: none !important;

              .react-select__value-container {
                padding: 0;

                .react-select__input-container {
                  margin: 0;
                  padding: 0;
                }
              }
              .react-select__indicators {
                height: fit-content;
                .react-select__indicator-separator {
                  display: none;
                }

                .react-select__indicator {
                  display: flex;
                  width: 24px;
                  height: 24px;
                  padding: 0;
                  border: none;
                  svg {
                    display: none;
                  }
                  background-image: url("/images/select-icon.svg");
                  background-repeat: no-repeat;
                  background-size: 24px;
                  background-position: center center;
                }
              }
            }

            .react-select__menu {
              z-index: 99;
              border-radius: 8px;

              .react-select__menu-list {
                background-color: #fff;
                border-radius: 8px;
                padding: 0;

                .react-select__option {
                  background-color: transparent;
                  color: #172554;
                  font-family: "Space Grotesk", serif;
                  font-weight: 500;
                  cursor: pointer;
                  transition: all 0.3s ease 0s;
                  &:hover {
                    color: #1d4ed8;
                  }
                }
              }
            }
          }
        }

        &.invalid {
          border-color: #ff0000;
        }
      }
      .general-error {
        grid-column-start: 2;
        grid-row-start: 5;
        display: flex;
        align-items: center;
        color: #ff0000;
      }

      .button {
        grid-column-start: 1;
        font-family: "Space Grotesk", serif;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        color: var(--colors-base-white, #fff);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        padding: 12px 36px;
        border-radius: var(--border-radius-full, 9999px);
        background: var(--colors-blue-950, #172554);
        transition: all 0.3s ease 0s;

        &:hover {
          background-color: #2563eb;
        }
      }

      .loading-icon {
        position: absolute;
        left: 210px;
        bottom: 5px;
        animation: spin 5s linear infinite;
        width: 30px;
        height: 35px;

        svg {
          width: 30px;
          height: 35px;
        }

        &._adv {
          left: 250px;
        }
      }
    }
  }

  .success-message {
    position: fixed;
    background-color: #00000049;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 16px;

    &__wrapper {
      background-color: #fff;
      padding: 61px 38px;
      border-radius: 24px;
      box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      gap: 36px;
      max-width: 786px;
      width: 100%;
      margin: 0 auto;

      color: var(--colors-indigo-950, #1e1b4b);
      text-align: center;
      @include adaptiv-value("font-size", 24, 18, 1);
      font-style: normal;
      font-weight: 700;
      line-height: 130%; /* 31.2px */

      span {
        color: var(--colors-blue-800, #1e40af);
        text-align: center;
        @include adaptiv-value("font-size", 60, 30, 1);
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 66px */
        text-transform: uppercase;
      }
      @media (max-width: 767px) {
        padding: 32px 16px;
        gap: 16px;
      }

      .button {
        display: flex;
        width: fit-content;
        margin: 0 auto;
        border-radius: 100px;
        background: var(--colors-blue-950, #172554);
        padding: 12px 36px;
        border-radius: 100px;

        color: var(--colors-base-white, #fff);
        @include adaptiv-value("font-size", 24, 16, 1);
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        transition: all 0.3s ease 0s;

        &:hover {
          background-color: #1d4ed8;
        }

        @media (max-width: 767px) {
          padding: 8px 24px;
        }
      }
    }
  }
}

.join-popup {
  width: 100%;
  background-color: #fff;
  border-radius: 24px;
  padding: 64px 40px;
  @media (max-width: 992px) {
    padding: 40px 16px;
    height: 100%;
    overflow: auto;
  }

  &__form {
    position: relative;
  }

  &__close {
    position: absolute;
    bottom: 0;
    left: 630px;
    border-radius: var(--border-radius-full, 9999px);
    background: var(--colors-blue-100, #dbeafe);
    padding: 12px 36px;
    color: var(--colors-blue-900, #1e3a8a);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    height: 61px;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: #172554;
      color: #fff;
    }

    @media(max-width: 992px) { 
      position: static;
      margin: 16px 0 0 0;
    }
  }
}
.join-form {
  .wrapper {
    .content {
      &__title {
        color: var(--colors-blue-800, #1e40af);
        font-family: "Space Grotesk";
        @include adaptiv-value("font-size", 58, 36, 1);
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        text-transform: uppercase;
        @include adaptiv-value("margin-bottom", 40, 24, 1);
      }

      &__image {
        width: 100%;
        max-width: 380px;
        object-fit: cover;
        border-radius: 24px;
        @media (max-width: 992px) {
          display: none;
        }
      }

      &__wrapper {
        display: flex;
        gap: 30px;
        .form {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 24px;
          position: relative;
          @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            width: 100%;
          }
          .row {
            border: 1px solid #172554;
            border-radius: 100px;
            padding: 8px 16px 0 16px;
            display: flex;
            flex-direction: column;
            position: relative;
            height: 56px;

            .label {
              position: absolute;
              top: 8px;
              left: 16px;
              color: var(--colors-blue-950, #172554);
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
              /* z-index: 30; */
            }

            input {
              margin: auto 0 8px 0;
            }
            &._policy {
              grid-column-start: span 2;
              border: none;
              padding: 0;
              border-radius: 0;
              height: fit-content;

              .checkbox-label {
                cursor: pointer;
                position: relative;
                padding: 0 0 0 40px;
                display: flex;
                color: var(--colors-blue-950, #172554);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                a {
                  color: #172554;
                  transition: all 0.3s ease 0s;
                  &:hover {
                    color: #2563eb;
                    text-decoration: underline;
                  }
                }
                input {
                  opacity: 0;
                  visibility: hidden;
                  position: absolute;
                  z-index: -1;
                }
                &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 24px;
                  height: 24px;
                  border-radius: 100px;
                  border: 1px solid #172554;
                  background-color: transparent;
                  transition: all 0.3s ease 0s;
                }

                &._active {
                  &::before {
                    background-color: #172554;
                  }
                }
              }

              &.invalid {
                .checkbox-label {
                  &::before {
                    border-color: #ff0000;
                  }
                }
              }
            }

            &._phone {
              .react-tel-input {
                margin: auto 0 8px 0;
                height: 24px;
                display: flex;
                align-items: center;

                .form-control {
                  height: fit-content;
                  line-height: normal;
                  border: none;
                }

                .flag-dropdown {
                  background-color: transparent;
                  border: none;
                  padding: 0;
                }
              }
            }

            &._select {
              .wrapper-select {
                margin: auto 0 8px 0;
                .react-select__control {
                  border: none;
                  display: flex;
                  align-items: center;
                  min-height: fit-content;
                  box-shadow: none !important;

                  .react-select__value-container {
                    padding: 0;

                    .react-select__input-container {
                      margin: 0;
                      padding: 0;
                    }
                  }
                  .react-select__indicators {
                    height: fit-content;
                    .react-select__indicator-separator {
                      display: none;
                    }

                    .react-select__indicator {
                      display: flex;
                      width: 24px;
                      height: 24px;
                      padding: 0;
                      border: none;
                      svg {
                        display: none;
                      }
                      background-image: url("/images/select-icon.svg");
                      background-repeat: no-repeat;
                      background-size: 24px;
                      background-position: center center;
                    }
                  }
                }

                .react-select__menu {
                  z-index: 99;
                  border-radius: 8px;

                  .react-select__menu-list {
                    background-color: #fff;
                    border-radius: 8px;
                    padding: 0;

                    .react-select__option {
                      background-color: transparent;
                      color: #172554;
                      font-family: "Space Grotesk", serif;
                      font-weight: 500;
                      cursor: pointer;
                      transition: all 0.3s ease 0s;
                      &:hover {
                        color: #1d4ed8;
                      }
                    }
                  }
                }
              }
            }

            &.invalid {
              border-color: #ff0000;
            }
          }
          .general-error {
            grid-column-start: 2;
            grid-row-start: 3;
            display: flex;
            align-items: center;
            color: #ff0000;
          }

          .button {
            grid-column-start: 1;
            font-family: "Space Grotesk", serif;
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            color: var(--colors-base-white, #fff);
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            padding: 12px 36px;
            border-radius: var(--border-radius-full, 9999px);
            background: var(--colors-blue-950, #172554);
            transition: all 0.3s ease 0s;

            &:hover {
              background-color: #2563eb;
            }
          }

          .loading-icon {
            position: absolute;
            left: 400px;
            bottom: 5px;
            animation: spin 5s linear infinite;
            width: 30px;
            height: 35px;
            @media(max-width: 992px) { 
              left: 210px;
            }

            svg {
              width: 30px;
              height: 35px;
            }

            &._adv {
              left: 250px;
            }
          }
        }
      }
    }
  }

  .success-message {
    /* position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 16px;

    &__wrapper {
      background-color: #fff;
      padding: 61px 38px;
      border-radius: 24px;
      box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      gap: 36px;
      max-width: 786px;
      width: 100%;
      margin: 0 auto;

      color: var(--colors-indigo-950, #1e1b4b);
      text-align: center;
      @include adaptiv-value("font-size", 24, 18, 1);
      font-style: normal;
      font-weight: 700;
      line-height: 130%; /* 31.2px */

      span {
        color: var(--colors-blue-800, #1e40af);
        text-align: center;
        @include adaptiv-value("font-size", 60, 30, 1);
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 66px */
        text-transform: uppercase;
      }
      @media (max-width: 767px) {
        padding: 32px 16px;
        gap: 16px;
      }

      .button {
        display: flex;
        width: fit-content;
        margin: 0 auto;
        border-radius: 100px;
        background: var(--colors-blue-950, #172554);
        padding: 12px 36px;
        border-radius: 100px;

        color: var(--colors-base-white, #fff);
        @include adaptiv-value("font-size", 24, 16, 1);
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        transition: all 0.3s ease 0s;

        &:hover {
          background-color: #1d4ed8;
        }

        @media (max-width: 767px) {
          padding: 8px 24px;
        }
      }
    }
  }
}

.publishers-form {
  .wrapper {
    .form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      position: relative;
      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
      }
      .row {
        border: 1px solid #172554;
        border-radius: 100px;
        padding: 8px 16px 0 16px;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 56px;

        .label {
          position: absolute;
          top: 8px;
          left: 16px;
          color: var(--colors-blue-950, #172554);
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          /* z-index: 30; */
        }

        input {
          margin: auto 0 8px 0;
        }
        &._policy {
          grid-column-start: span 2;
          border: none;
          padding: 0;
          border-radius: 0;
          height: fit-content;

          .checkbox-label {
            cursor: pointer;
            position: relative;
            padding: 0 0 0 40px;
            display: flex;
            color: var(--colors-blue-950, #172554);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            a {
              color: #172554;
              transition: all 0.3s ease 0s;
              &:hover {
                color: #2563eb;
                text-decoration: underline;
              }
            }
            input {
              opacity: 0;
              visibility: hidden;
              position: absolute;
              z-index: -1;
            }
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 24px;
              height: 24px;
              border-radius: 100px;
              border: 1px solid #172554;
              background-color: transparent;
              transition: all 0.3s ease 0s;
            }

            &._active {
              &::before {
                background-color: #172554;
              }
            }
          }

          &.invalid {
            .checkbox-label {
              &::before {
                border-color: #ff0000;
              }
            }
          }
        }

        &._phone {
          .react-tel-input {
            margin: auto 0 8px 0;
            height: 24px;
            display: flex;
            align-items: center;

            .form-control {
              height: fit-content;
              line-height: normal;
              border: none;
            }

            .flag-dropdown {
              background-color: transparent;
              border: none;
              padding: 0;
            }
          }
        }

        &._select {
          .wrapper-select {
            margin: auto 0 8px 0;
            .react-select__control {
              border: none;
              display: flex;
              align-items: center;
              min-height: fit-content;
              box-shadow: none !important;

              .react-select__value-container {
                padding: 0;

                .react-select__input-container {
                  margin: 0;
                  padding: 0;
                }
              }
              .react-select__indicators {
                height: fit-content;
                .react-select__indicator-separator {
                  display: none;
                }

                .react-select__indicator {
                  display: flex;
                  width: 24px;
                  height: 24px;
                  padding: 0;
                  border: none;
                  svg {
                    display: none;
                  }
                  background-image: url("/images/select-icon.svg");
                  background-repeat: no-repeat;
                  background-size: 24px;
                  background-position: center center;
                }
              }
            }

            .react-select__menu {
              z-index: 99;
              border-radius: 8px;

              .react-select__menu-list {
                background-color: #fff;
                border-radius: 8px;
                padding: 0;

                .react-select__option {
                  background-color: transparent;
                  color: #172554;
                  font-family: "Space Grotesk", serif;
                  font-weight: 500;
                  cursor: pointer;
                  transition: all 0.3s ease 0s;
                  &:hover {
                    color: #1d4ed8;
                  }
                }
              }
            }
          }
        }

        &.invalid {
          border-color: #ff0000;
        }
      }
      .general-error {
        grid-column-start: 2;
        grid-row-start: 4;
        display: flex;
        align-items: center;
        color: #ff0000;
      }

      .button {
        grid-column-start: 1;
        font-family: "Space Grotesk", serif;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        color: var(--colors-base-white, #fff);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        padding: 12px 36px;
        border-radius: var(--border-radius-full, 9999px);
        background: var(--colors-blue-950, #172554);
        transition: all 0.3s ease 0s;

        &:hover {
          background-color: #2563eb;
        }
      }

      .loading-icon {
        position: absolute;
        left: 210px;
        bottom: 5px;
        animation: spin 5s linear infinite;
        width: 30px;
        height: 35px;

        svg {
          width: 30px;
          height: 35px;
        }

        &._adv {
          left: 250px;
        }
      }
    }
  }

  .success-message {
    position: fixed;
    background-color: #00000049;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 16px;

    &__wrapper {
      background-color: #fff;
      padding: 61px 38px;
      border-radius: 24px;
      box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      gap: 36px;
      max-width: 786px;
      width: 100%;
      margin: 0 auto;

      color: var(--colors-indigo-950, #1e1b4b);
      text-align: center;
      @include adaptiv-value("font-size", 24, 18, 1);
      font-style: normal;
      font-weight: 700;
      line-height: 130%; /* 31.2px */

      span {
        color: var(--colors-blue-800, #1e40af);
        text-align: center;
        @include adaptiv-value("font-size", 60, 30, 1);
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 66px */
        text-transform: uppercase;
      }
      @media (max-width: 767px) {
        padding: 32px 16px;
        gap: 16px;
      }

      .button {
        display: flex;
        width: fit-content;
        margin: 0 auto;
        border-radius: 100px;
        background: var(--colors-blue-950, #172554);
        padding: 12px 36px;
        border-radius: 100px;

        color: var(--colors-base-white, #fff);
        @include adaptiv-value("font-size", 24, 16, 1);
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        transition: all 0.3s ease 0s;

        &:hover {
          background-color: #1d4ed8;
        }

        @media (max-width: 767px) {
          padding: 8px 24px;
        }
      }
    }
  }
}

.contact-form {
  .wrapper {
    .form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      position: relative;
      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
      }
      .row {
        border: 1px solid #172554;
        border-radius: 100px;
        padding: 8px 16px 0 16px;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 56px;
        transition: all 0.3s ease 0s;

        &.invalid {
          border-color: #ff0000;
        }

        .label {
          position: absolute;
          top: 8px;
          left: 16px;
          color: var(--colors-blue-950, #172554);
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          /* z-index: 30; */
        }

        input {
          margin: auto 0 8px 0;
        }
        &._policy {
          grid-column-start: span 2;
          border: none;
          padding: 0;
          border-radius: 0;
          height: fit-content;

          &.invalid {
            .checkbox-label {
              &::before {
                border-color: #ff0000;
              }
            }
          }

          .checkbox-label {
            cursor: pointer;
            position: relative;
            padding: 0 0 0 40px;
            display: flex;
            color: var(--colors-blue-950, #172554);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            a {
              color: #172554;
              transition: all 0.3s ease 0s;
              &:hover {
                color: #2563eb;
                text-decoration: underline;
              }
            }
            input {
              opacity: 0;
              visibility: hidden;
              position: absolute;
              z-index: -1;
            }
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 24px;
              height: 24px;
              border-radius: 100px;
              border: 1px solid #172554;
              background-color: transparent;
              transition: all 0.3s ease 0s;
            }

            &._active {
              &::before {
                background-color: #172554;
              }
            }
          }
        }

        &._phone {
          .react-tel-input {
            margin: auto 0 8px 0;
            height: 24px;
            display: flex;
            align-items: center;

            .form-control {
              height: fit-content;
              line-height: normal;
              border: none;
            }

            .flag-dropdown {
              background-color: transparent;
              border: none;
              padding: 0;
            }
          }
        }

        &._select {
          .wrapper-select {
            margin: auto 0 8px 0;
            .react-select__control {
              border: none;
              display: flex;
              align-items: center;
              min-height: fit-content;
              box-shadow: none !important;

              .react-select__value-container {
                padding: 0;

                .react-select__input-container {
                  margin: 0;
                  padding: 0;
                }
              }
              .react-select__indicators {
                height: fit-content;
                .react-select__indicator-separator {
                  display: none;
                }

                .react-select__indicator {
                  display: flex;
                  width: 24px;
                  height: 24px;
                  padding: 0;
                  border: none;
                  svg {
                    display: none;
                  }
                  background-image: url("/images/select-icon.svg");
                  background-repeat: no-repeat;
                  background-size: 24px;
                  background-position: center center;
                }
              }
            }

            .react-select__menu {
              z-index: 99;
              border-radius: 8px;

              .react-select__menu-list {
                background-color: #fff;
                border-radius: 8px;
                padding: 0;

                .react-select__option {
                  background-color: transparent;
                  color: #172554;
                  font-family: "Space Grotesk", serif;
                  font-weight: 500;
                  cursor: pointer;
                  transition: all 0.3s ease 0s;
                  &:hover {
                    color: #1d4ed8;
                  }
                }
              }
            }
          }
        }
      }
      .general-error {
        grid-column-start: 2;
        grid-row-start: 4;
        display: flex;
        align-items: center;
        color: #ff0000;
        font-weight: 500;
      }

      .button {
        grid-column-start: 1;
        font-family: "Space Grotesk", serif;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        color: var(--colors-base-white, #fff);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        padding: 12px 36px;
        border-radius: var(--border-radius-full, 9999px);
        background: var(--colors-blue-950, #172554);
        transition: all 0.3s ease 0s;

        &:hover {
          background-color: #2563eb;
        }
      }

      .loading-icon {
        position: absolute;
        left: 210px;
        bottom: 5px;
        animation: spin 5s linear infinite;
        width: 30px;
        height: 35px;

        svg {
          width: 30px;
          height: 35px;
        }
      }
    }
  }

  .success-message {
    position: fixed;
    background-color: #00000049;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 16px;

    &__wrapper {
      background-color: #fff;
      padding: 61px 38px;
      border-radius: 24px;
      box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      gap: 36px;
      max-width: 786px;
      width: 100%;
      margin: 0 auto;

      color: var(--colors-indigo-950, #1e1b4b);
      text-align: center;
      @include adaptiv-value("font-size", 24, 18, 1);
      font-style: normal;
      font-weight: 700;
      line-height: 130%; /* 31.2px */

      span {
        color: var(--colors-blue-800, #1e40af);
        text-align: center;
        @include adaptiv-value("font-size", 60, 30, 1);
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 66px */
        text-transform: uppercase;
      }
      @media (max-width: 767px) {
        padding: 32px 16px;
        gap: 16px;
      }

      .button {
        display: flex;
        width: fit-content;
        margin: 0 auto;
        border-radius: 100px;
        background: var(--colors-blue-950, #172554);
        padding: 12px 36px;
        border-radius: 100px;

        color: var(--colors-base-white, #fff);
        @include adaptiv-value("font-size", 24, 16, 1);
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        transition: all 0.3s ease 0s;

        &:hover {
          background-color: #1d4ed8;
        }

        @media (max-width: 767px) {
          padding: 8px 24px;
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.parallax-custom {
  .react-parallax-bgimage {
    height: 100% !important;

    @media (max-width: 767px) {
      width: 100% !important;
      object-fit: cover !important;
    }
  }
}

.react-parallax {
  .react-parallax-bgimage {
    width: 100% !important;
    object-fit: cover;
  }
}
