@import "mixin";

.faq-hero {
  @include adaptiv-value("padding-top", 175, 115, 1);
  &__container {
  }

  &__body {
  }

  img {
    width: 100%;
    height: auto;
    &.mobile {
      display: none;
    }
    @media (max-width: 992px) {
      width: 100%;
      height: auto;
      &.mobile {
        display: block;
      }
      &.desktop {
        display: none;
      }
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    color: var(--colors-blue-900, #1e3a8a);
    @include adaptiv-value("font-size", 128, 48, 1);
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    span {
      color: var(--colors-blue-950, #172554);
      @include adaptiv-value("font-size", 36, 18, 1);
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
    }
  }
}

.industry-connect {
  padding: 40px 0 80px 0;
  &__container {
  }

  &__body {
  }

  &__title {
    color: var(--colors-blue-800, #1e40af);
    @include adaptiv-value("font-size", 60, 36, 1);
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
  }

  &__content {
    @include adaptiv-value("margin-top", 40, 24, 1);
    display: flex;
    align-items: center;
    gap: 30px;
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__col-01 {
    width: 70%;
    @include adaptiv-value("height", 395, 300, 1);
    background-image: url("/images/industry/connect.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 24px;
    @media (max-width: 992px) {
      width: 100%;
    }

    @media (max-width: 767px) {
      background-image: url("/images/industry/connectMob.png");
    }
  }

  &__col-02 {
    width: 30%;
    @media (max-width: 992px) {
      width: 100%;
    }
  }

  &__label {
    color: var(--colors-blue-800, #1e40af);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }

  &__text {
    margin: 24px 0 0 0;
    color: var(--colors-indigo-950, #1e1b4b);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  &__link {
    width: fit-content;
    margin: 40px 0 0 0;
    display: flex;
    border-radius: 100px;
    background: var(--colors-blue-950, #172554);
    padding: 12px 36px;
    border-radius: 100px;

    color: var(--colors-base-white, #fff);
    @include adaptiv-value("font-size", 24, 16, 1);
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: #1d4ed8;
    }

    @media (max-width: 767px) {
      padding: 8px 24px;
    }
  }
}

.faq-tabs {
  padding: 40px 0;
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    .tabs-head {
      background: #dbeafe;
      border-radius: 40px;
      padding: 12px 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
      @media (max-width: 767px) {
        gap: 8px;
        padding: 8px;
      }
      button {
        color: #000000;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 55px;
        border-radius: 30px;
        white-space: nowrap;
        padding: 0 36px;
        &.active {
          background: #1e3a8a;
          color: #fff;
        }
        @media (max-width: 767px) {
          font-size: 14px;
          padding: 0 16px;
        }
      }
    }
    .tabs-content {
      width: 100%;
      .tab {
        display: none;
        &.active {
          display: flex;
          flex-direction: column;
          gap: 24px;
        }

        > div {
          &.opened {
            .inner {
              .top {
                img {
                  transform: rotate(-180deg);
                }
              }
            }
          }
          .inner {
            background: #eff6ff;
            border-radius: 24px;
            padding: 24px;
            cursor: pointer;
            .top {
              display: flex;
              align-items: center;
              justify-content: space-between;
              color: #1e3a8a;
              font-size: 30px;
              font-weight: 700;
              line-height: 1.2;
              text-align: left;

              &:webkit-details-marker {
                display: none;
              }
              @media (max-width: 767px) {
                font-size: 18px;
              }
              img {
                transform: rotate(0);
                transition: all 0.5s;
              }
            }
            .faq-content {
              transition: all ease-in-out 0.5s;
              padding: 10px 0 0 0;
              color: #000000;
              font-size: 20px;
              font-weight: 400;
              line-height: 1.2;
              text-align: left;
              @media (max-width: 767px) {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
