@import "mixin";

.header {
    margin: 16px 0 0 0;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99;
    &__container {
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: var(--border-radius-full, 9999px);
        background: var(--colors-blue-100, #dbeafe);
        padding: 12px 24px;
    }

    &__col-01 {
    }

    &__logo {
        color: var(--colors-base-black, #000);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
    }

    &__col-02 {
        display: flex;
        align-items: center;
        @include adaptiv-value("gap", 33, 0, 1);
        @media(max-width: 992px) { 
            gap: 16px;
        }
    }

    &__nav {

        @media(max-width: 992px) { 
            display: none;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        @include adaptiv-value("gap", 33, 0, 1);
    }

    &__item {
    }

    &__link {
        color: var(--colors-blue-950, #172554);
        @include adaptiv-value('font-size', 24, 20, 1);
        font-style: normal;
        font-weight: 400;
        line-height: 130%;

        transition: all 0.3s ease 0s;
        &:hover {
            color: #2563EB;
        }
    }

    &__menu-btn {
    }

    &__join {
        border-radius: var(--border-radius-full, 9999px);
        background: var(--colors-blue-900, #1e3a8a);
        display: flex;
        padding: 12px 36px;
        justify-content: center;
        align-items: center;
        color: var(--colors-base-white, #fff);
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; 
    }
}
