@use "sass:math";

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400;500;700;900&display=swap');

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Don\'t use units when using the rem() function; only numbers.';
  }
}

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff2") format("woff2"),
      url("../fonts/#{$file_name}.woff") format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
//Адаптивное свойство
@mixin adaptiv-value($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    //Только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} *
          ((100vw - rem(360)) / #{$maxWidthContainer - 360})
      );
    }
  } @else if $type==2 {
    //Только если больше контейнера
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} * ((100vw - rem(360)) / #{$maxWidth - 360})
      );
    }
  } @else {
    //Всегда
    #{$property}: calc(
      #{$minSize + px} + #{$addSize} * ((100vw - rem(360)) / #{$maxWidth - 360})
    );
  }
}
//Адаптивное свойство до
@mixin adaptiv-value-to($property, $startSize, $minSize, $minWidth) {
  $addSize: $startSize - $minSize;
  //#{$property}: $minSize + px;
  @media (min-width: #{$minWidth + px}) {
    #{$property}: calc(
      #{$minSize + px} + #{$addSize} *
        (((100vw - #{$minWidth + px})) / ((#{$maxWidth - $minWidth})))
    );
  }
}

$minWidth: rem(360);
$maxWidth: rem(1440);
$maxWidthContainer: 1249;
$md1: 1110;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

@mixin for-min-phone {
  @media (max-width: rem(320)) {
    @content;
  }
}
@mixin for-phone {
  @media (max-width: rem(375)) {
    @content;
  }
}
@mixin for-tablet {
  @media (max-width: rem(425)) {
    @content;
  }
}
@mixin for-tablet-big {
  @media (max-width: rem(550)) {
    @content;
  }
}
@mixin for-tablet-landscape {
  @media (max-width: rem(768)) {
    @content;
  }
}

@mixin for-min-laptop {
  @media (max-width: rem(900)) {
    @content;
  }
}

@mixin for-laptop {
  @media (max-width: rem(1024)) {
    @content;
  }
}

@mixin for-desktop {
  @media (max-width: rem(1280)) {
    @content;
  }
}
@mixin for-big-desktop {
  @media (max-width: rem(1440)) {
    @content;
  }
}
