@import "../mixin.scss";

.home-hero {
    @include adaptiv-value("padding-top", 175, 115, 1);
    &__container {
    }

    &__body {
    }

    &__title {
        display: flex;
        flex-direction: column;
        color: var(--colors-blue-900, #1e3a8a);
        @include adaptiv-value("font-size", 128, 60, 1);
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        span {
            color: var(--colors-blue-950, #172554);
            @include adaptiv-value("font-size", 36, 18, 1);
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }
    }

    &__image {
        @include adaptiv-value("height", 479, 360, 1);
        background-image: url("/images/home/home-img-01.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 24px;
        position: relative;
        z-index: 30;
        @media (max-width: 767px) {
            background-image: url("/images/home/home-img-02.jpg");
        }
    }

    &__items {
        display: flex;
        align-items: stretch;
        margin: -3px 0 0 0;
        position: relative;
        z-index: 30;

        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__item {
        position: relative;
        width: 33.3333%;
        padding: 20px 24px 44px 24px;
        color: #172554;
        @include adaptiv-value("font-size", 36, 18, 1);
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        @media (max-width: 767px) {
            width: 100%;
            padding: 20px 24px 24px 24px;
            br {
                display: none;
            }
        }
        &:not(:last-child) {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 7px;
                height: 100%;
                border-radius: 100px;
                background-color: #1e40af;

                @media (max-width: 767px) {
                    width: 100%;
                    top: auto;
                    right: auto;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 3px;
                }
            }
        }
    }
}

.home-ready {
    margin: 24px 0 0 0;
    &__container {
    }

    &__body {
        display: flex;
        align-items: center;
        gap: 36px;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__title {
        color: var(--colors-blue-950, #172554);
        @include adaptiv-value("font-size", 128, 60, 1);
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        display: flex;
        flex-direction: column;

        span {
            color: #1e3a8a;
        }
    }

    &__join {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(-30deg) !important;
        @include adaptiv-value("width", 193, 95, 1);
        @include adaptiv-value("height", 193, 95, 1);
        border-radius: 1000px;
        border: 3px dashed #1d4ed8;
        color: var(--colors-blue-800, #1e40af);
        @include adaptiv-value("font-size", 36, 18, 1);
        font-style: normal;
        font-weight: 700;
        line-height: 120%;

        @media (max-width: 767px) {
            margin-left: auto;
        }
    }
}

.home-what {
    padding: 80px 0;
    &__container {
    }

    &__body {
        display: flex;
        gap: 30px;
        @media(max-width: 992px) { 
            flex-direction: column;
            gap: 20px;
        }
    }

    &__col-01 {
        width: 40%;
        @media (max-width: 992px) {
            width: 100%;
        }
    }

    &__title {
        color: var(--colors-indigo-950, #1e1b4b);
        @include adaptiv-value("font-size", 24, 14, 1);
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
    }

    &__text {
        margin: 24px 0 0 0;
        color: var(--colors-indigo-950, #1e1b4b);
        @include adaptiv-value('font-size', 36, 18, 1);
        font-style: normal;
        font-weight: 700;
        line-height: 120%; 
    }

    &__col-02 {
        width: 60%;
        @include adaptiv-value('height', 479, 360, 1);
        background-image: url("/images/home/home-img-03.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-radius: 24px;
        @media (max-width: 992px) {
            width: 100%;
            background-image: url("/images/home/home-img-04.jpg");
        }
    }
}
