.cookiePopup {
  position: fixed;
  bottom: 24px;
  right: 24px;
  display: flex;
  width: 400px;
  padding: 32px;
  z-index: 1000;
  border-radius: 24px;
  border: 1px solid #F9FAFB;
  background: #FFF;
  box-shadow: 64px 270px 78px 0 rgba(30, 10, 91, 0.00), 41px 173px 71px 0 rgba(30, 10, 91, 0.01), 23px 97px 60px 0 rgba(30, 10, 91, 0.05), 10px 43px 44px 0 rgba(30, 10, 91, 0.08), 3px 11px 24px 0 rgba(30, 10, 91, 0.09);

  @media (max-width: 992px) {
    padding: 40px 20px;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
  }

  &.visible {
    display: block;
  }

  h2 {
    color: #1E3A8A;
    font-family: "Space Grotesk";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 28.8px */
    margin-bottom: 12px;
  }

  p {
    color: #575551;
    font-family: "Space Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    a {
      color: #575551;
      font-family: "Space Grotesk";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: auto;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
    }
  }

  .buttons {
    margin-top: 16px;
    display: flex;
    gap: 24px;
    justify-content: center;
    @media (max-width: 992px) {
      gap: 16px;
    }

    button {
      width: calc(50% - 12px);
      cursor: pointer;
      font-size: 14px;
      padding: 12px 12px;
      height: 49px;
      @media (max-width: 992px) {
        width: calc(50% - 8px);
      }
      &.decline {
        border-radius: 100px;
        background: #DBEAFE;
        color: #575551;
        font-family: "Space Grotesk";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        transition: all 0.3s ease;

        &:hover {
          background: #d6e7fd;
        }
      }

      &.accept {
        border-radius: 100px;
        background: #1E40AF;
        color: #FFF;
        font-family: "Space Grotesk";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        transition: all 0.3s ease;

        &:hover {
          background: #1a3cab;
        }
      }
    }
  }
}
